.timetable {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 10px;
	padding-bottom: 10px;

	&__day {
		width: 100%;
		min-width: 100px;
		height: auto;
		min-height: 150px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		border-radius: 0 10px 0px 10px;
		padding: 10px 5px 0 5px;
		border: 1px solid rgba(255, 255, 255, 0.25);
		transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1),
			position 250ms cubic-bezier(0.4, 0, 0.2, 1),
			transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
		cursor: pointer;

		@media (min-width: 768px) {
			flex-basis: calc((100% - 20px) / 3);
		}

		@media (min-width: 1200px) {
			flex-basis: calc((100% - 30px) / 4);
		}

		&-header {
			font-family: var(--font-primary);
			font-size: clamp(1.1rem, 1.3vw, 3rem);
			color: white;
			font-weight: 900;
			margin-bottom: 10px;
			border-bottom: 3px solid rgba(255, 255, 255, 0.25);
		}

		&-lessons {
			width: 100%;
			height: auto;
		}

		&-lesson {
			width: 100%;
			height: auto;
			background: rgba(255, 255, 255, 0.2);
			-webkit-backdrop-filter: blur(10px);
			backdrop-filter: blur(10px);
			border: 1px solid rgba(255, 255, 255, 0.2);
			margin-bottom: 5px;
			border-radius: 5px;
			padding: 4px;
			color: white;
			font-family: var(--font-primary);

			&-name {
				font-size: clamp(1rem, 1.1vw, 2rem);
				font-weight: 500;
				margin-bottom: 3px;
			}

			&-time {
				font-size: clamp(0.8rem, 0.8vw, 1.8rem);
				font-weight: 400;
			}
		}

		&-monday {
			background: rgb(74, 107, 224);
			background: linear-gradient(
				125deg,
				rgba(74, 107, 224, 1) 0%,
				rgba(112, 141, 246, 1) 100%
			);
		}

		&-tuesday {
			background: rgb(229, 161, 51);
			background: linear-gradient(
				310deg,
				rgba(229, 161, 51, 1) 0%,
				rgba(219, 144, 25, 1) 100%
			);
		}

		&-wednesday {
			background: rgb(187, 83, 86);
			background: linear-gradient(
				310deg,
				rgba(187, 83, 86, 1) 0%,
				rgba(142, 49, 52, 1) 100%
			);
		}

		&-thursday {
			background: rgb(94, 162, 113);
			background: linear-gradient(
				310deg,
				rgba(94, 162, 113, 1) 0%,
				rgba(39, 148, 69, 1) 100%
			);
		}

		&-friday {
			background: rgb(119, 132, 131);
			background: linear-gradient(
				310deg,
				rgba(119, 132, 131, 1) 0%,
				rgba(98, 108, 108, 1) 100%
			);
		}

		&:active {
			scale: 0.98;
		}
	}
}
