.timetable {
	width: 100%;
	max-height: 75vh;
	// background: rgba(255, 219, 174, 0.65);
	// backdrop-filter: blur(10px);
	// -webkit-backdrop-filter: blur(10px);
	// border: 1px solid rgba(255, 219, 174, 0.325);
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 10px;
	border-radius: 15px;

	&__day {
		flex-basis: calc((100% - 10px) / 2);
		height: auto;
		min-height: 150px;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 15px;
		padding: 10px 5px;
		border: 1px solid rgba(255, 255, 255, 0.25);

		&-header {
			font-family: var(--font-primary);
			font-size: 1.1rem;
			color: white;
			font-weight: 800;
			margin-bottom: 10px;
		}

		&-lessons {
			width: 100%;
			height: auto;
		}

		&-lesson {
			width: 100%;
			height: auto;
			background: rgba(255, 255, 255, 0.2);
			-webkit-backdrop-filter: blur(10px);
			backdrop-filter: blur(10px);
			border: 1px solid rgba(255, 255, 255, 0.2);
			margin-bottom: 5px;
			border-radius: 5px;
			padding: 3px;
			color: white;
			font-family: var(--font-primary);
		}

		&-monday {
			background-color: #4a6be0;
		}

		&-tuesday {
			background-color: #e5a133;
		}
	}
}
