* {
	box-sizing: border-box;
	list-style: none;
}

body {
	background-color: var(--background-color-light);
	font-family: "Mulish", sans-serif;
	min-height: 100vh;
	color: black;
	margin: 0;
	padding: 0;
	position: relative;
}

img {
	display: block;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

.no-text-decor {
	text-decoration: none;
}

.container {
	width: 100%;
	max-width: 1250px;
	padding: 0 15px;
	margin: auto;
}

.main {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}

.section-title {
	font-family: var(--font-heading);
	font-weight: 800;
	font-size: clamp(2.7rem, 3vw, 4rem);
	padding-left: 2%;
	color: var(--primary-color);
	background-color: var(--background-color-light);
	padding: 5px 0 20px 0;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 10;
}
