:root {
	--primary-color: white;
	--secondary-color: #ffdbae;
	--accent-color: #504db5;
	--text-primary: #262626;
	--text-secondary: #52494f;
	--font-heading: "Ubuntu", sans-serif;
	--font-primary: "Overpass", sans-serif;
}
