:root {
	--background-color: #242424;
	--background-color-light: #fff3e2;
	--secondary-color: #ffdcab;
	--accent-color: #fec674;
	--text-color-primary: #494969;
	--text-color-secondary: #4d4449;
	--text-color-options: #414141;
	--font-heading: "Ubuntu", sans-serif;
	--font-primary: "Overpass", sans-serif;
	--monday-color: #4a6be0;
	--tuesday-color: rgb(229, 161, 51);
	--wednesday-color: rgb(187, 83, 86);
	--thursday-color: rgb(94, 162, 113);
	--friday-color: rgb(119, 132, 131);
	--anim-duration: 0.3s;
}
